<style>
    display-screen {
        color: #fff;
        text-align: center;
        background-color: #000;
        width:100%;
    }


    .ds-timer[data-state="normal"] .ds-time{
        color: #2ff777;
    }

    .ds-timer[data-state="timeup"] .ds-time{
        color:#ff4747;
    }

    .ds-timer[data-state="warning"] .ds-time{
        color:#f7b12f;
    }

    .ds-timer-label {
        margin-top: -4%;
        opacity: 0.5;
    }

    .ds-timer--negative .ds-timer-label {
        margin-right: -7%;
    }

    .ds-presenter {
        opacity: 0.5;
    }
</style>
<div class="ds-title">{{title}}</div>
<div class="ds-presenter">- {{presenter}}</div>
<div class="ds-timer" ng-attr-data-state="{{state}}">
    <div class="ds-time">{{timeF}}</div>

    <div class="ds-timer-label">&nbsp;&nbsp;hours &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; minutes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        seconds
    </div>
</div>