<style>
    .duration-picker input{
        margin:0;
        margin-right:10px;
        width:45px;
        font-size: large;
    }
    .duration-picker input+span{
        margin-left:3px;
        color:#605f5c;
    }
    .duration-picker button{
        padding:5px;
        margin:0;
    }
    .duration-picker input[type=number]::-webkit-inner-spin-button,
    .duration-picker input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="duration-picker">
    <div class="flex-h">
        <div class="flex-v">
            <input name="hours" ng-model="hours" type="text" value="00">
            <span>Hours</span>
        </div>
        <div class="flex-v">
            <input id="minutes" ng-model="minutes" name="minutes"  type="text" value="00">
            <span>Minutes</span>
        </div>
        <div class="flex-v">
            <button ng-click="up()"><i class="icon-angle-up"></i></button>
            <button ng-click="down()"><i class="icon-angle-down"></i></button>
        </div>
    </div>
</div>