body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #272829;
  padding: 0;
  margin: 0; }

*:focus {
  outline: none; }

hr {
  padding: 0;
  margin: 0;
  border-right: none;
  border-left: none;
  border-top-color: #8f8f8f;
  border-bottom-color: #000; }

textarea {
  width: 99%;
  height: 150px;
  background-color: #262626;
  border: 1px solid #696969;
  margin-top: 15px;
  padding: 10px;
  color: #707070;
  box-sizing: border-box; }

button {
  background: #605f5c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer; }
  button.btn--muted {
    opacity: 0.5; }
  button.btn--danger {
    background-color: #ff4747; }
  button.btn--blue {
    background-color: #0088cc; }
  button:active {
    background-color: #262626; }
  button.disabled {
    pointer-events: none;
    opacity: 0.3; }

label {
  color: #707070; }

select {
  background: #262626;
  padding: 8px;
  color: #707070;
  border: none;
  border-radius: 5px; }

input {
  display: block;
  width: 100%;
  background-color: #262626;
  border: 1px solid #696969;
  margin-top: 15px;
  padding: 10px;
  color: #707070;
  box-sizing: border-box;
  margin-bottom: 15px; }

.clearfix {
  display: block;
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.flex--center {
  justify-content: center; }
.flex-h {
  display: flex;
  flex-direction: row; }
.flex-v {
  display: flex;
  flex-direction: column; }
.flex-item {
  background-color: transparent;
  height: 100%;
  width: 100%; }

.agenda-column {
  background-color: #393939;
  min-width: 400px;
  width: 40%; }

.controls {
  width: 70px;
  background-color: #393939; }

.preview {
  width: 100%;
  height: 200px;
  background-color: #000; }

.tab-bar {
  padding: 0;
  margin: 0;
  list-style: none; }
  .tab-bar li {
    display: inline-block;
    padding: 5px;
    background-color: #605f5c;
    color: #fff;
    opacity: 0.5;
    min-width: 80px; }
    .tab-bar li.active {
      opacity: 1; }

.tab-content {
  border-top: 1px solid #605f5c;
  padding: 15px;
  box-sizing: border-box; }

.stick-to-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px; }

.agenda-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .agenda-list li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #262626;
    color: #8f8f8f;
    cursor: pointer; }
    .agenda-list li .title {
      font-size: large; }
    .agenda-list li .aside {
      position: absolute;
      bottom: 0;
      padding-bottom: 10px;
      padding-right: 10px;
      right: 0; }

.panel-header {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

.panel-title {
  color: #707070;
  font-size: large; }

.scrollview-y {
  overflow-y: auto; }
.scrollview-x {
  overflow-x: auto; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.controls button {
  margin-right: 10px;
  margin-bottom: 8px; }

.flip-panel {
  position: relative;
  overflow: hidden; }

.agenda-form-panel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #393939;
  transform: translateX(-101%);
  transition: all 0.3s ease; }
  .agenda-form-panel.active {
    transform: translateX(0); }

.padding--15 {
  padding: 15px; }

.error-msg {
  color: red;
  font-size: small; }

.agenda-list li {
  overflow: hidden; }
.agenda-list li.active {
  background: #262626; }
.agenda-list .item-content {
  position: relative;
  transition: all 0.3s ease; }
.agenda-list .item-options {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 30%;
  transition: all 0.3s ease;
  background: #000; }
  .agenda-list .item-options button {
    margin: 10px; }
.agenda-list li.item-options-open .item-options {
  left: 70%; }
.agenda-list li.item-options-open .item-content {
  margin-right: 30%; }

input {
  color: #cccccc; }

.divider {
  margin: 10px 8px 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #707070; }

.auto-advance {
  color: #707070;
  cursor: pointer; }
  .auto-advance i {
    color: #636363;
    font-size: 25px; }
  .auto-advance.active i {
    color: #039409; }
  .auto-advance span {
    display: inline-block;
    vertical-align: super; }

/*# sourceMappingURL=style.css.map */
