<!DOCTYPE html>
<html ng-app="PromptlyApp">
<head>
    <link rel="stylesheet" href="fontello/css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="flex-h" ng-controller="MainController">

<div class="flex-item flex-v agenda-column">
    <div class="flex-item flex-v flip-panel">
        <div class="flex-v">
            <div class="panel-header">
                <span class="panel-title">AGENDA</span>
                <button class="icon pull-right" ng-click="openAgendaEditor()"><i class="icon-plus"></i></button>
                <span class="clearfix"></span>
            </div>

            <div class="flex-item scrollview-y">
                <ul class="agenda-list">

                    <li  ng-repeat="agendaItem in agendaItems track by agendaItem.id" ng-dblclick="agendaItemDblClick(agendaItem)" ng-right-click="openItemOptions($event)" data-id="{{agendaItem.id}}" ng-class="{active : agendaItem.selected}">
                        <div class="item-content">
                            <div class="title">{{agendaItem.title}}</div>
                            <div class="sub-title">-{{agendaItem.presenter}}</div>
                            <div class="aside">{{formatDuration(agendaItem.duration)}}</div>
                        </div>
                        <div class="item-options flex-h flex--center">
                            <button class="btn--blue" ng-click="editAgendaItem(agendaItem)" title="edit"><i class="icon-edit"></i></button>
                            <button class="btn--danger" ng-click="deleteAgendaItem(agendaItem)" title="delete"><i class="icon-trash"></i></button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="agenda-form-panel">
            <div class="panel-header">
                <span class="panel-title">EDIT AGENDA ITEM</span>
            </div>
            <div class="padding--15">
                <input type="text" ng-model="form.title" placeholder="Title">
                <div class="error-msg">{{formError.title}}</div>
                <input type="text" ng-model="form.presenter" placeholder="Presenter's name">

                <duration-picker value="form.duration"></duration-picker>
                <div class="error-msg">{{formError.duration}}</div>
            </div>



            <button ng-click="closeAgendaEditor()">CANCEL</button>
            <button ng-click="saveAgendaItem()">SAVE</button>
        </div>
    </div>
</div>

<div class="flex-item flex-v">

    <div class="flex-item flex-h preview-column">
        <div class="flex-item flex-v flex--center">
            <display-screen control="displayScreen"></display-screen>
            <div class="auto-advance"
                 ng-class="{'active' : autoAdvance}"
                 ng-click="toggleAutoAdvance()"
                 ng-attr-title="{{autoAdvance && 'turn off auto advance' || 'turn on auto advance' }}">
                <i class="icon-circle"></i>
                <span>Auto</span>
            </div>
        </div>
        <div class="flex-item flex-v flex--center controls">
            <button title="start" ng-class="{ 'disabled' : selectedAgendaItem==undefined }" ng-show="!timerRunning" ng-click="startCountdown()"><i class="icon-play"></i></button>
            <button title="stop" ng-class="{ 'disabled' : selectedAgendaItem==undefined }" ng-show="timerRunning" ng-click="stopCountdown()"><i class="icon-pause"></i></button>
            <button title="reset" ng-class="{ 'disabled' : selectedAgendaItem==undefined }" ng-click="resetCountdown()"><i class="icon-arrows-cw"></i></button>
            <button title="next" ng-class="{ 'disabled' : selectedAgendaItem==undefined || agendaItems.length <= 1 }" ng-click="nextAgendaItem()"><i class="icon-right-open"></i></button>
            <button title="previous" ng-class="{ 'disabled' : selectedAgendaItem==undefined || agendaItems.length <= 1 }" ng-click="previousAgendaItem()"><i class="icon-left-open"></i></button>
            <div class="divider"></div>
            <button title="project on second monitor" ng-click="setDisplayToSecondaryMonitor()"><i class="icon-desktop"></i></button>
        </div>
    </div>
    <hr>
    <div class="flex-item flex-v memo-column">
        <ul class="tab-bar">
            <li class="active">Memo</li>
            <li>Memo Presets</li>
        </ul>
        <div class="tab-content flex-item">
            <textarea></textarea>

            <div class="stick-to-bottom">
                <label for="timeout">Timeout: </label>
                <select name="timeout" id="timeout">
                    <option value="none">none</option>
                    <option value="5">5 sec</option>
                    <option value="10">10 sec</option>
                    <option value="15">15 sec</option>
                </select>
                <button class="btn--muted">ADD TO PRESETS</button>
                <button>SEND</button>
            </div>
        </div>

    </div>

</div>


<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/angular.min.js"></script>

<script src="js/flowtype.js"></script>

<script src="js/countdown.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>